# Lab | T-tests P Values

<br>

<details><summary>▶ Instructions:</summary>
<p>

1. One tailed t-test - In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file files_for_lab/machine.txt. Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other? 
2. Matched Pairs Test - In this challenge we will compare dependent samples of data describing our Pokemon (file files_for_lab/pokemon.csv). Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. Compare the two columns to see if there is a statistically significant difference between them and comment your result. 

OPTIONAL PART | Inferential statistics - ANOVA
Note: The following lab is divided in 2 sections which represent activities 3 and 4.

Part 1
In this activity, we will look at another example. Your task is to understand the problem and write down all the steps to set up ANOVA. After the next lesson, we will ask you to solve this problem using Python. Here are the steps that you would need to work on: - Null hypothesis - Alternate hypothesis - Level of significance - Test statistic - P-value - F table

Context
Suppose you are working as an analyst in a microprocessor chip manufacturing plant. You have been given the task of analyzing a plasma etching process with respect to changing Power (in Watts) of the plasma beam. Data was collected and provided to you to conduct statistical analysis and check if changing the power of the plasma beam has any effect on the etching rate by the machine. You will conduct ANOVA and check if there is any difference in the mean etching rate for different levels of power. You can find the data anova_lab_data.xlsx file in the files_for_lab folder
* State the null hypothesis
* State the alternate hypothesis
* What is the significance level
* What are the degrees of freedom of model, error terms, and total DoF
Data was collected randomly and provided to you in the table as shown: link to the image - Data

Part 2
* In this section, use the Python to conduct ANOVA.
* What conclusions can you draw from the experiment and why?

</p>
</details>

In [8]:
import pandas as pd
import numpy as np
import scipy.stats as st
import matplotlib.pyplot as plt
import seaborn as sns

data = pd.read_csv('./files_for_lab/machine.txt', delimiter = ' ')
display(len(data))
data.head()

10

   New_machine  Old_machine
0         42.1         42.7
1         41.0         43.6
2         41.3         43.8
3         41.8         43.3
4         42.4         42.5

## One tail t-test

In [9]:
# Assume that there is sufficient evidence to conduct the t test, does the data provide 
# sufficient evidence to show if one machine is better than the other?
#
st.ttest_ind(data['New_machine'], data['Old_machine'], equal_var=False)

Ttest_indResult(statistic=-3.397230706117603, pvalue=0.0032422494663179747)

In [ ]:
# H0: New Machines are the same as Old Machine
# H1: New Machines =! Old Machine
# We can reject the null Hypothesis as p value is nearly 0, so machines are not performing equally
# this is supported by statistics being negative, means that the new machine packs faster

## Matched Pairs Test

In [12]:
pokemon = pd.read_csv('./files_for_lab/pokemon.csv')
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [13]:
st.ttest_rel(pokemon['Defense'], pokemon['Attack'])

Ttest_relResult(statistic=-4.325566393330478, pvalue=1.7140303479358558e-05)

In [ ]:
# H0 = Attack pokemons are the same as Defense pokemons
# Like in the first instruction, we can reject the H0, 
# so there is a statistically siginificant difference between Attack and Defense

In [ ]:
# Optional part: maybe later this week